:root{
    --bg-color: rgb(255 140 140);
    --tm-color: #ffffff;
    --btn-color: rgb(145, 33, 33);
    --btn-active: rgb(33, 45, 219);
    --bg-descanso: rgb(44, 165, 161);
    --bg-progreso: rgb(175, 84, 24);
    --bg-progesoActive: rgb(0, 114, 0);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tiempo{
    background-color: var(--tm-color);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}


button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color:#ffffff;
    padding: 10px;
    border: none;
    background-color: var(--btn-color);
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
    transition: .5s all;
}

button:hover{
    opacity: .5;
    scale: 1.01;
}

#reset{
    width: 50px;
    border-radius: 100%;
}

#start{
    margin-top: 20px;
}

.seccionProgreso{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.progreso{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bg-progreso);
    transition: .3s all;
}

.completado{
    background-color: var(--bg-progesoActive);
}